node_modules/
!server/node_modules/
server/node_modules/*
!server/node_modules/.prisma/
server/node_modules/.prisma/*
!server/node_modules/.prisma/client/
dist
.env
*.env.local
.DS_Store
*.log
coverage
.nyc_output

server/src/**/*.js
server/dist/
dist/
